iframe {

	overflow: hidden;
	width: 100%;
	align-items:center ;
	margin-bottom: -200px;
	margin-top: -100px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    overflow-y: auto; /* Permitir rolagem vertical na página principal */
}


footer {
	position: relative;
	z-index: 90000px;
}