 <!DOCTYPE html>


	<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Brinquedo</title>
</head>
<body>

 <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/brinquedos/filtro/Educativo}">Educativo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/brinquedos/filtro/Veículo}">Veículo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/brinquedos/filtro/Esporte}">Esporte</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" th:href="@{/brinquedos/filtro/Eletrônico}">Eletrônico</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" th:href="@{/brinquedos/filtro/Criativo}">Criativo</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" th:href="@{/brinquedos/filtro/Pelúcia}">Pelúcia</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" th:href="@{/brinquedos/filtro/Pelúcia}">Destaque</a>
            </li>
           
           
           
          
                
                 
   
      <a th:href="@{/}">Voltar para o inicio</a>
</body>
</html>