<html 
	<head>
		<meta charset="utf-8">
		<title>Lista de Brinquedos</title>
	</head>
	<body>

<!--<td th:text="${brinquedo.categoria}"></td>
<p>Nome: <span th:text="${dado.nome}"></span></p>
		          <a th:href="@{/}">Voltar para o inicio</a>-->
		          
		          


    <p th:each="brinquedo : ${brinquedos}" th:if="${brinquedo.id == '655b598a73367d7830070865'}" th:text="${brinquedo.categoria}"></p>
<p th:each="brinquedo : ${brinquedos}" th:if="${brinquedo.id == '655b598a73367d7830070865'}" th:text="${brinquedo.preco}"></p>

    
		          
		          
	</body>
</html>

